---
import '@styles/accessibility.css';
import '@styles/color.css';
import '@styles/global.css';
import '@styles/reset.css';
import '@styles/spacing.css';
import '@styles/typography.css';

import type { BaseNode } from '@queries/types';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../config';

export type Props = { node: BaseNode };

const { node } = Astro.props;
const { title: maybeTitle, description = SITE_DESCRIPTION } = node;
const title = `${maybeTitle || 'Home'} | ${SITE_TITLE}`;
// const { title, description, image = "/placeholder-social.jpg" } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        rel="preload"
        as="style"
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,900&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,900&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet"
    />
    <noscript>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,900&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        />
    </noscript>

    <link rel="icon" href="/assets/logos/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/logos/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/logos/apple-touch-icon-180.png" />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Open Graph / Facebook -->
    <!-- <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <!-- <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->
</head>
