---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import NodeMeta from '@components/node/parts/NodeMeta.astro';
import Article from '@components/page/Article.astro';
import ArticleHeader from '@components/page/ArticleHeader.astro';
import Divider from '@components/page/Divider.astro';
import Markup from '@components/page/Markup.astro';
import PageHero from '@components/page/PageHero.astro';
import SiteSectionHeader from '@components/site/about/SiteSectionHeader.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';

import Section from '@components/page/Section.astro';
import TopLine from '@components/page/TopLine.astro';
import SiteLogo from '@components/site/SiteLogo.astro';
import type { BaseNode } from '@queries/types';

export interface Props {
    content: BaseNode;
    img?: string;
}

const { content: node } = Astro.props;
const { heroImage, shyImage } = node;
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteSectionHeader slot="section" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node} noDate slot="header">
                        {heroImage && <PageHero src={heroImage} />}
                    </ArticleHeader>
                    <Section>
                        <TopLine />
                        <div>
                            <div class="image">
                                {shyImage ? <img src={shyImage} alt="" /> : <SiteLogo autoSize />}
                            </div>
                            <p>{node.description}</p>
                        </div>
                        <Section>
                            <Divider />
                            <Markup><slot /></Markup>
                        </Section>
                        <Section>
                            <Divider />
                            <NodeMeta node={node} />
                        </Section>
                    </Section>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: var(--layout-gap);
        overflow: hidden;
    }

    .image {
        height: 15em;
        min-width: 100%;
        object-fit: cover;
    }

    @media screen and (min-width: 620px) {
        div {
            flex-direction: row;
        }

        .image {
            min-width: auto;
            min-width: 10em;
            max-width: 10em;
            height: 10em;
            border-radius: 100%;
        }
    }
</style>
