---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import NodeAbstract from '@components/node/parts/NodeAbstract.astro';
import NodeMeta from '@components/node/parts/NodeMeta.astro';
import Article from '@components/page/Article.astro';
import ArticleHeader from '@components/page/ArticleHeader.astro';
import Divider from '@components/page/Divider.astro';
import Markup from '@components/page/Markup.astro';
import PageHero from '@components/page/PageHero.astro';
import Section from '@components/page/Section.astro';
import TopLine from '@components/page/TopLine.astro';
import SiteSectionHeader from '@components/site/about/SiteSectionHeader.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteLogo from '@components/site/SiteLogo.astro';
import SiteMain from '@components/site/SiteMain.astro';
import type { AboutNode } from '@queries/types';

export interface Props {
    content: AboutNode;
    img?: string;
}

const { content: node } = Astro.props;
const { heroImage, thumbnail } = node;
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteSectionHeader slot="section" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node} noDate slot="header">
                        {heroImage && <PageHero src={heroImage} />}
                    </ArticleHeader>
                    <Section>
                        <TopLine />
                        <header>
                            {
                                thumbnail && (
                                    <div class="image">
                                        <SiteLogo variant={thumbnail} />
                                    </div>
                                )
                            }
                            <NodeAbstract node={node} />
                        </header>
                        <Section>
                            <Divider />
                            <Markup><slot /></Markup>
                        </Section>
                        <Section>
                            <Divider />
                            <NodeMeta node={node} />
                        </Section>
                    </Section>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>

<style>
    header {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: var(--layout-gap);
        overflow: hidden;
    }

    .image {
        min-width: 100%;
        object-fit: cover;
        border-radius: 100%;
        overflow: hidden;
    }

    @media screen and (min-width: 620px) {
        header {
            flex-direction: row;
        }

        .image {
            min-width: 12em;
            max-width: 12em;
            height: 12em;
            border-radius: 100%;
        }
    }
</style>
