---
import { Body, Document, Head, Layout } from '@components/document';
import { PageNav } from '@components/navigation';
import { NodeList } from '@components/node';
import { Divider, Page, PageHeader, PageSubTitle, Section, TopLine } from '@components/page';
import { SiteFooter, SiteHeader, SiteMain } from '@components/site';
import { fetchAllPosts, sortNodes, type BaseNode } from '@content/index';
import { SectionTopTags } from './sections';

export type Props = {
    page: number;
};

const { page } = Astro.props;

const nodes = await fetchAllPosts();
const posts = sortNodes(nodes);
const pageCount = Math.ceil(nodes.length / 10);
const pages = [...Array(pageCount).keys()].map((p: number) => `/posts/archive/${p + 1}`);
pages[0] = '/posts';

const latest = posts.slice(0, 6);
// WIP
const node: BaseNode = {
    filename: '',
    url: `posts/archive/${page}`,
    type: 'page',
    title: `Blog archive page ${page}`,
    published: '',
    images: {
        external: [],
        internal: [],
    },
    links: {
        external: [],
        internal: [],
    },
};

const sliced = posts.slice(page * 10 - 10, page * 10);
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Page>
                    <PageHeader node={node} slot="header" />
                    <PageNav pages={pages} />
                    <TopLine />
                    <Section>
                        <NodeList nodes={sliced} />
                    </Section>
                    <Divider size="space">
                        <PageNav pages={pages} />
                    </Divider>
                    <Divider size="pause" />
                    <Section>
                        <PageSubTitle slot="header">Latest posts</PageSubTitle>
                        <NodeList nodes={latest} variant="textual" />
                    </Section>
                    <Divider size="pause" />
                    <SectionTopTags />
                </Page>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
