---
import Article from '../components/Article.astro';
import ArticleHeader from '../components/ArticleHeader.astro';
import Markup from '../components/Markup.astro';
import NodeAbstract from '../components/NodeAbstract.astro';
import NodeMeta from '../components/NodeMeta.astro';
import PageHero from '../components/PageHero.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteMain from '../components/SiteMain.astro';
import Body from '../document/Body.astro';
import Document from '../document/Document.astro';
import Head from '../document/Head.astro';
import Layout from '../document/Layout.astro';
import type { BlogPost } from '../types';

export interface Props {
    content: BlogPost;
}

const { frontmatter: node } = Astro.props;
const { heroImage } = node;
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node}>
                        <PageHero src={heroImage} />
                    </ArticleHeader>
                    <NodeAbstract node={node} />
                    <hr />
                    <Markup><slot /></Markup>
                    <hr />
                    <NodeMeta node={node} />
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-2xs);
    }
</style>
