---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import NodeAbstract from '@components/node/parts/NodeAbstract.astro';
import NodeMeta from '@components/node/parts/NodeMeta.astro';
import NodePreviousNext from '@components/node/parts/NodePreviousNext.astro';
import Article from '@components/page/Article.astro';
import ArticleHeader from '@components/page/ArticleHeader.astro';
import Divider from '@components/page/Divider.astro';
import Markup from '@components/page/Markup.astro';
import PageHero from '@components/page/PageHero.astro';
import SiteSectionHeader from '@components/site/blog/SiteSectionHeader.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';

import { findPreviousAndNextPosts, importAllPosts, sortedPosts } from '@queries/posts';
import type { BlogPost } from '@queries/types';
import Section from '~/components/page/Section.astro';

export interface Props {
    content: BlogPost;
}

const { content: node } = Astro.props;
const { heroImage } = node;

const nodes = await importAllPosts();
const posts = sortedPosts(nodes as BlogPost[]);
const { previous, next } = findPreviousAndNextPosts(posts, node);
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteSectionHeader slot="section" {...{previous, next}} />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node} slot="header">
                        <PageHero src={heroImage} />
                    </ArticleHeader>
                    <Section>
                        <NodeAbstract node={node} />
                        <Divider />
                    </Section>
                    <Markup><slot /></Markup>
                    <Section>
                        <Divider />
                        <NodeMeta node={node} />
                    </Section>
                    <Section>
                        <Divider />
                        <NodePreviousNext {...{previous, next}} />
                    </Section>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-2xs);
    }
</style>
