---
import { Body, Document, Head, Layout } from '@components/document';
import { NodeAbstract, NodeDate, NodeMeta, NodePreviousNext, NodeTags } from '@components/node';
import { Article, ArticleHeader, Divider, Markup, PageHero, Section } from '@components/page';
import { SiteFooter, SiteHeader, SiteHeaderBlog, SiteMain } from '@components/site';
import { fetchAllPosts, getPreviousAndNextPosts, sortNodes, type BlogPost } from '@nodes/index';

export type Props = {
    content: BlogPost;
};

const { content: node } = Astro.props;
const { hero } = node;

const nodes = await fetchAllPosts();
const posts = sortNodes(nodes);
const { previous, next } = getPreviousAndNextPosts(posts, node);
---

<Document>
    <Head node={node} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteHeaderBlog slot="section" previous={previous} next={next} />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={node} slot="header" noDate>
                        {hero && <PageHero node={node} />}
                    </ArticleHeader>
                    <Section>
                        <NodeDate node={node} />
                        <NodeAbstract node={node} />
                        <NodeTags node={node} />
                    </Section>
                    <Markup><slot /></Markup>
                    <Section>
                        <Divider />
                        <NodeMeta node={node} />
                    </Section>
                    <Section>
                        <NodePreviousNext previous={previous} next={next} />
                    </Section>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-2xs);
    }
</style>
