---
import { Body, Document, Head, Layout } from '@components/document';
import { Breadcrumbs } from '@components/navigation';
import { NodeAbstract, NodeMeta } from '@components/node';
import { Article, ArticleHeader, Divider, Markup, Section } from '@components/page';
import { SiteFooter, SiteHeader, SiteHeaderMeta, SiteMain } from '@components/site';
import { type MetaPage } from '@content/index';

export type Props = {
    content: MetaPage;
};

const { content: page } = Astro.props;
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteHeaderMeta slot="section" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={page} slot="header" noDate>
                        <Breadcrumbs node={page} />
                        <NodeAbstract node={page} />
                        <NodeMeta node={page} />
                    </ArticleHeader>
                    <Divider />
                    <Section>
                        <Markup><slot /></Markup>
                        <Divider />
                    </Section>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
