---
import Article from '../components/Article.astro';
import ArticleHeader from '../components/ArticleHeader.astro';
import Markup from '../components/Markup.astro';
import NodeAbstract from '../components/NodeAbstract.astro';
import NodeList from '../components/NodeList.astro';
import NodeMeta from '../components/NodeMeta.astro';
import PageSubTitle from '../components/PageSubTitle.astro';
import PageTitle from '../components/PageTitle.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteMain from '../components/SiteMain.astro';
import Body from '../document/Body.astro';
import Document from '../document/Document.astro';
import Head from '../document/Head.astro';
import Layout from '../document/Layout.astro';
import type { AstroNode, BaseNode, TagNode } from '../types';

export interface Props {
    content: TagNode;
}

const { content: page } = Astro.props;

const allNodes = await Astro.glob<AstroNode<BaseNode>>('../**/*.{md,mdx}');

const nodes = allNodes.filter(n => n.frontmatter.tags?.includes(page.title));
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={page} override>
                        <PageTitle
                            ><span aria-hidden="true">{nodes.length}</span> #{page.title}</PageTitle
                        >
                    </ArticleHeader>
                    <NodeAbstract node={page} />
                    <Markup><slot /></Markup>
                    <NodeMeta node={page} />
                </Article>
                <PageSubTitle>All {nodes.length} items under #{page.title}</PageSubTitle>
                <NodeList nodes={nodes} />
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
