---
import Body from '@components/document/Body.astro';
import Document from '@components/document/Document.astro';
import Head from '@components/document/Head.astro';
import Layout from '@components/document/Layout.astro';
import NodeList from '@components/node/lists/NodeList.astro';
import NodeAbstract from '@components/node/parts/NodeAbstract.astro';
import NodeMeta from '@components/node/parts/NodeMeta.astro';
import Article from '@components/page/Article.astro';
import ArticleHeader from '@components/page/ArticleHeader.astro';
import Markup from '@components/page/Markup.astro';
import PageSubTitle from '@components/page/PageSubTitle.astro';
import PageTitle from '@components/page/PageTitle.astro';
import Section from '@components/page/Section.astro';
import TopLine from '@components/page/TopLine.astro';
import SiteFooter from '@components/site/SiteFooter.astro';
import SiteHeader from '@components/site/SiteHeader.astro';
import SiteMain from '@components/site/SiteMain.astro';
import { importAllNodes } from '@queries/nodes';
import type { TagNode } from '@queries/types';

export type Props = {
    content: TagNode;
};

const { content: page } = Astro.props;

const allNodes = await importAllNodes();

const nodes = allNodes.filter(n => n.tags?.includes(page.title));
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Article>
                    <ArticleHeader node={page} slot="header" override noDate>
                        <PageTitle>
                            #{page.title}
                        </PageTitle>
                    </ArticleHeader>
                    <Section>
                        <TopLine />
                        <NodeAbstract node={page} />
                        <NodeMeta node={page} noDate />
                        <Markup><slot /></Markup>
                    </Section>
                    <Section>
                        <PageSubTitle slot="header">
                            All {nodes.length} items under #{page.title}
                        </PageSubTitle>
                        <NodeList nodes={nodes} />
                    </Section>
                </Article>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
