---
import { Body, Document, Head, Layout } from '@components/document';
import { NodeAbstract, TagList } from '@components/node';
import { Divider, Page, PageHeader, PageSubTitle, Section, TopLine } from '@components/page';
import { SiteFooter, SiteHeader, SiteMain } from '@components/site';
import { TOP_TAGS_COUNT, fetchAllTags, type PageNode } from '@content/index';

export type Props = {
    content: PageNode;
};

const { content: page } = Astro.props;

const allTags = await fetchAllTags();
const filteredTags = allTags.filter(tag => tag.title !== 'andretorgal-com' && tag.count > 1);
const topTags = filteredTags.slice(0, TOP_TAGS_COUNT);
const moreTags = filteredTags.slice(TOP_TAGS_COUNT);
---

<Document>
    <Head node={page} />
    <Body>
        <Layout>
            <SiteHeader slot="header" />
            <SiteMain slot="main">
                <Page>
                    <PageHeader node={page} slot="header" />
                    <TopLine />
                    <NodeAbstract node={page} />
                    <Section>
                        <Divider size="gap">
                            <PageSubTitle>Top tags</PageSubTitle>
                        </Divider>
                        <TagList tags={topTags} size="large" />
                    </Section>
                    <Section>
                        <Divider size="gap">
                            <PageSubTitle>Other tags</PageSubTitle>
                        </Divider>
                        <TagList tags={moreTags} />
                    </Section>
                </Page>
            </SiteMain>
            <SiteFooter slot="footer" />
        </Layout>
    </Body>
</Document>
