---
import type { BaseNode } from '@queries/types';
import { shortDate } from '@utils/date';
import TagLink from './TagLink.astro';

export type Props = { node: BaseNode };

const { node } = Astro.props;
const { type = 'page', url, published, tags } = node;

const publishedDate = published && new Date(published);
const show = publishedDate || (tags && tags.length);
---

{
    show && (
        <div>
            <p>
                <span>
                    This <em>{type}</em> was published
                </span>{' '}
                {publishedDate && (
                    <>
                        on
                        <a href={url} class="node-permalink">
                            <time class="date" datetime={publishedDate.toISOString()}>
                                {shortDate(publishedDate)}
                            </time>
                        </a>
                    </>
                )}
                {tags && tags.length && (
                    <span>
                        <br />
                        under the following tags:
                    </span>
                )}
            </p>
            {tags && tags.length && (
                <ul class="tag-list">
                    {tags.map(tag => (
                        <li class={`tag ${tag}`}>
                            <TagLink tag={tag} />
                        </li>
                    ))}
                </ul>
            )}
        </div>
    )
}

<style>
    a {
        display: inline-flex;
    }

    ul,
    li,
    p {
        display: inline;
    }

    li {
        padding-right: var(--t-space-2xs);
    }
</style>
