---
import type { BaseNode } from '@nodes/index';

import { NodeCard, NodeMini } from '../cards';
import { NodeLink } from '../parts';
import type { GridListVariant } from './GridList.astro';
import GridList from './GridList.astro';

export type Props = {
    nodes: BaseNode[];
    variant?: GridListVariant;
    type?: boolean | undefined;
};

const { nodes, variant = 'full', type } = Astro.props;

const isCard = variant === 'compact' || variant === 'full';
const isLink = variant === 'textual';
const isMini = variant === 'mini';
---

<GridList variant={variant}>
    {
        nodes.map(node => (
            <li>
                {isCard && <NodeCard node={node} variant={variant} />}
                {isMini && <NodeMini node={node} type={type} />}
                {isLink && <NodeLink node={node} size="compact" type={type} />}
            </li>
        ))
    }
</GridList>
