---
import NodeDate from '@components/node/parts/NodeDate.astro';
import type { BaseNode } from '@queries/types';
import NodeMeta from '../parts/NodeMeta.astro';

export interface Props {
    node: BaseNode;
}

const { node } = Astro.props;
---

<article>
    <header>
        <h3>
            <a href={node.url}>{node.title}</a>
        </h3>
        <NodeDate size="s" node={node} />
    </header>
    {
        node.description && (
            <>
                <p>{node.description}</p>
            </>
        )
    }
    <NodeMeta node={node} />
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-xs);
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--t-space-2xs);
    }

    p {
        font-size: var(--t-type-size-0);
    }
</style>
