---
import NodeDate from '@components/node/parts/NodeDate.astro';
import type { BaseNode } from '@queries/types';
import NodeAbstract from '../parts/NodeAbstract.astro';
import NodeTags from '../parts/NodeTags.astro';
import TagLink from '../parts/TagLink.astro';

export interface Props {
    node: BaseNode;
}

const SHOW_DATE = ['post'];
const SHOW_TAGS = ['post', 'meta', 'page'];

const { node } = Astro.props;

const showDate = SHOW_DATE.includes(node.type);
const showTags = SHOW_TAGS.includes(node.type);
---

<article>
    <header>
        <h3>
            {
                node.type === 'tag' ? (
                    <TagLink tag={node.title}>{node.title}</TagLink>
                ) : (
                    <a href={node.url}>{node.title}</a>
                )
            }
        </h3>
        {showDate && <NodeDate size="s" node={node} />}
    </header>
    <NodeAbstract node={node} />
    {showTags && <NodeTags node={node} compact />}
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-xs);
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--t-space-2xs);
    }

    p {
        font-size: var(--t-type-size-0);
    }
</style>
