---
import NodeDate from '@components/node/parts/NodeDate.astro';
import type { BaseNode } from '@queries/types';
import TagLink from '../parts/TagLink.astro';

export interface Props {
    node: BaseNode;
}

const { node } = Astro.props;
---

<article>
    <header>
        <h3>
            {
                node.type === 'tag' ? (
                    <TagLink tag={node.title}>{node.title}</TagLink>
                ) : (
                    <a href={node.url}>{node.title}</a>
                )
            }
        </h3>
        {node.type !== 'tag' && <NodeDate size="s" node={node} />}
    </header>
    {
        node.description && (
            <>
                <p>{node.description}</p>
            </>
        )
    }
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-xs);
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--t-space-2xs);
    }

    p {
        font-size: var(--t-type-size-0);
    }
</style>
