---
import type { BaseNode } from '@queries/types';

import NodeAbstract from '../parts/NodeAbstract.astro';
import NodeDate from '../parts/NodeDate.astro';
import NodeTags from '../parts/NodeTags.astro';
import NodeThumb from '../parts/NodeThumb.astro';
import TagLink from '../parts/TagLink.astro';

export type CardVariant = 'default' | 'compact' | undefined;

export type Props = {
    node: BaseNode;
    variant?: CardVariant;
};

const SHOW_DATE = ['post'];
const SHOW_TAGS = ['post', 'meta', 'page'];

const { node, variant = 'default' } = Astro.props;

const showDate = SHOW_DATE.includes(node.type);
const showTags = SHOW_TAGS.includes(node.type);

// WIP
const thumbImage = false;
const maxChars = thumbImage && variant === 'compact' ? 100 : undefined;
---

<article class:list={[variant]}>
    <header>
        <h3>
            {
                node.type === 'tag' ? (
                    <TagLink tag={node.title} size="large">
                        {node.title}
                    </TagLink>
                ) : (
                    <a href={node.url}>{node.title}</a>
                )
            }
        </h3>
        {showDate && <NodeDate size="s" node={node} />}
    </header>
    {
        thumbImage && (
            <a href={node.url}>
                <NodeThumb node={node} />
            </a>
        )
    }
    <NodeAbstract node={node} compact max={maxChars} />
    {showTags && <NodeTags node={node} />}
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--t-space-xs);
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--t-space-2xs);
    }

    div {
        display: flex;
        gap: var(--layout-gap);
        flex-direction: column;
    }

    @media screen and (min-width: 650px) {
        div {
            display: grid;
            gap: var(--layout-wall);
            grid-template-columns: 50% auto;
        }
    }

    p {
        font-size: var(--t-type-size-0);
    }
</style>
