---
import NodeAbstract from "../components/NodeAbstract.astro";
import NodeDate from "../components/NodeDate.astro";
import NodeMeta from "../components/NodeMeta.astro";
import PageFooter from "../components/PageFooter.astro";
import PageHeader from "../components/PageHeader.astro";
import PageTitle from "../components/PageTitle.astro";
import Document from "../document/Document.astro";
import Head from "../document/Head.astro";
import type { MetaPage } from "../types";

export interface Props {
  content: MetaPage;
}

const { content: node } = Astro.props;
const { title } = node;
---

<Document>
  <Head node={node} />
  <body>
    <PageHeader />
    <main>
      <article>
        <header>
          <NodeDate node={node} />
          <PageTitle>{title}</PageTitle>
        </header>
        <NodeAbstract node={node} />
        <hr />
        <slot />
        <hr />
        <NodeMeta node={node} />
      </article>
    </main>
    <PageFooter />
  </body>
</Document>
